<hr class="my-5" />
<div>
    <!-- Hoverable Table rows -->
    <div class="card mx-4">
        <h5 class="card-header">Users List</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {{#each users}}
                    <tr>
                        <p>{{users}}</p>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{this.username}}</strong></td>
                        <td>{{this.email}}</td>
                        <td>{{this.phone}}</td>
                        <td>
                            {{#if this.status}}
                            <p>Active</p>
                            {{else}}
                            <p>Blocked</p>
                            {{/if}}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    {{#if this.status}}
                                    <a class="dropdown-item" href="/admin/blockuser/{{this._id}}?_method=PATCH">
                                        <i class="bx bx-edit-alt me-1"></i> Block
                                    </a>
                                    {{else}}
                                    <a class="dropdown-item" href="/admin/blockuser/{{this._id}}?_method=PATCH">
                                        <i class="bx bx-edit-alt me-1"></i> Unblock
                                    </a>
                                    {{/if}}
                                    <a class="dropdown-item" href="/admin/deleteuser/{{this._id}}?_method=DELETE" onclick="return confirm('Do you want to delete {{this.name}}?')">
                                        <i class="bx bx-trash me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->
    
    {{#if pages}}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <!-- Start Column 1 -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item d-flex">
                            <a class="page-link" href="customers?page={{prev}}">
                                <div class="page-box"> < </div>
                            </a>
                            {{#each pages}}
                            <a class="page-link text-primary " href="customers?page={{this}}" data-page="{{this}}">
                                <div class="page-box">{{this}}</div>
                            </a>
                            {{/each}}
                            <a class="page-link" href="customers?page={{next}}">
                                <div class="page-box"> > </div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Column 1 -->
            </div>
        </div>
    </div>
    {{/if}}
</div>
