<div class="col-xl my-5 mx-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Edit Category</h5>
                      
                    </div>
                    <div class="card-header d-flex justify-content-between align-items-center">
                      {{#if messages.error}}
                      <div class="alert alert-danger" role="alert">
                        <div class="alter text-danger text-center">{{messages.error}}</div>
                      </div>
                      {{/if}}
                      
                    </div>
                    <div class="card-body">
                      {{#if category}}
                      <form action="/admin/updatecategory/{{category._id}}?_method=PUT" method="post">
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">Category Name</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-user"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              name="catName"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                              value="{{category.name}}"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-email">Category Discount</label>
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><i class="bx bx-heart"></i></span>
                          <input
                            type="number"
                            class="form-control"
                            id="discount"
                            name="catDiscount"
                            aria-label="john.doe"
                            value="{{category.discount}}"
                            aria-describedby="basic-icon-default-email2"
                            onchange="calculateTotalPrice()"
                            
                          />
                        </div>
                      </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-company">Description</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"
                              ><i class="bx bx-buildings"></i
                            ></span>
                            <input
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              name="catDescription"
                              aria-label="ACME Inc."
                              aria-describedby="basic-icon-default-company2"
                              value="{{category.description}}"
                            />
                          </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure to apply the Discount to all Products in {{category.name}} category?')">Update</button>
                      </form>
                      {{/if}}
                    </div>
                  </div>
                </div>
<script>
function calculateTotalPrice() {
  const discount = parseFloat(document.getElementById('discount').value);
  if (discount > 50) {
    alert("Discount cannot exceed 50%");
  }else if(discount < 50){
    alert("Discount should above 0%");
  }
}
</script>