<div class="col-xl my-5 mx-4">
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Update Product</h5>
    </div>
    <div class="card-body">
      <form action="/admin/updateproduct/{{product._id}}?_method=PUT" method="post" enctype="multipart/form-data">
        {{#if product}}
        
        <div class="mb-3">
          <label class="form-label" for="productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="productName"
            name="name"
            value="{{product.name}}"
            
          />
        </div>

        <div class="mb-3">
      <label class="form-label" for="basic-icon-default-company">Category</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-buildings"></i>
                                </span>
                                <select
                                    id="basic-icon-default-company"
                                    class="form-select"
                                    name="category"
                                    aria-label="Category"
                                    aria-describedby="basic-icon-default-company2"
                                >
                                    
                                    {{#each category}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
        
        </div>

        <div class="mb-3">
          <label class="form-label" for="productPrice">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            value="{{product.price}}"
            onchange="priceminimum()"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="basic-icon-default-email">Percentage Discount</label>
          <div class="input-group input-group-merge">
            <span class="input-group-text"><i class="bx bx-heart"></i></span>
            <input
              type="number"
              class="form-control"
              id="discount"
              name="discount"
              aria-label="john.doe"
              value="{{product.discount}}"
              aria-describedby="basic-icon-default-email2"
              onchange="calculateTotalPrice()"
              
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="basic-icon-default-email">Offer Price</label>
          <div class="input-group input-group-merge">
            <span class="input-group-text"><i > INR</i></span>
            <input
              type="number"
              class="form-control"
              id="finalprice"
              name="offerPrice"
              aria-label="john.doe"
              value="{{product.offerPrice}}"
              aria-describedby="basic-icon-default-email2"
              min="0" max="80" step="1"
              readonly
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="productStock">Quantity</label>
          <input
            type="text"
            class="form-control"
            id="stock"
            name="stock"
            value="{{product.stock}}"
            onchange="minimumquantity()"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="productDescription">Description</label>
          <textarea
            class="form-control"
            id="productDescription"
            name="description"
            value="{{product.description}}"
          >{{product.description}}</textarea>
        </div>


            <div class="mb-3">
    <div class="d-flex flex-wrap">
        {{#each product.images as |image index|}}
        <div class="me-3 mb-3">
    <div class="row">
        <div class="col">
            <img src="{{image}}" alt="" style="width: 100px; height: auto">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/admin/deleteImage?index={{index}}&_method=DELETE" class="btn btn-danger mt-2">Delete</a>
        </div>
    </div>
</div>

        {{/each}}
    </div>
</div>

          
        <div class="mb-3">
          <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-message">Add image</label>
                          <div class="input-group input-group-merge">
                            <input type="file" name="image" multiple>
                          </div>
                        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        {{/if}}
      </form>
    </div>
  </div>
</div>
<script defer src="https://cdn.crop.guide/loader/l.js?c=YFFNCN"></script>
<script>
  function priceminimum() {
        const price = parseFloat(document.getElementById('price').value);
        if (price < 0) {
            alert("Price should be greater than 0");
            document.getElementById('price').value = 0;
        }
    }
    function minimumquantity() {
        const stock = parseFloat(document.getElementById('stock').value);
        if (stock < 0) {
            alert("Quantity should greater than 0");
            document.getElementById('stock').value = 0;
        }
    }
function calculateTotalPrice() {
  const price = parseFloat(document.getElementById('price').value);
  const discount = parseFloat(document.getElementById('discount').value);
  const totalPrice = price - (price * discount / 100);
  if (discount > 50) {
    alert("Discount cannot exceed 50%");
    document.getElementById('discount').value=50 // Set the value back to 80 if it exceeds
  }
  if (discount < 0) {
    alert("Discount should above 0%");
     document.getElementById('discount').value=0 // Set the value back to 80 if it exceeds
  }
  document.getElementById('finalprice').value = totalPrice.toFixed(2);
}
</script>