<div class="col-xl my-5 mx-4">
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Update Product</h5>
    </div>
    <div class="card-body">
      <form action="/admin/updateproduct/{{product._id}}" method="post" enctype="multipart/form-data">
        {{#if product}}
        <div class="mb-3">
          <label class="form-label" for="productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="productName"
            name="name"
            value="{{product.name}}"
            
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="category">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            name="category"
            value="{{product.category}}"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="productPrice">Price</label>
          <input
            type="number"
            class="form-control"
            id="productPrice"
            name="price"
            value="{{product.price}}"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="productStock">Quantity</label>
          <input
            type="text"
            class="form-control"
            id="productStock"
            name="stock"
            value="{{product.stock}}"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="productDescription">Description</label>
          <textarea
            class="form-control"
            id="productDescription"
            name="description"
            value="{{product.description}}"
          >{{product.description}}</textarea>
        </div>


        <div class="mb-3">
          <label class="form-label" for="productImage">Add Image</label>
          <input
            type="file"
            class="form-control"
            id="productImage"
            name="image"
            value="product.images"
          />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        {{/if}}
      </form>
    </div>
  </div>
</div>
