<section>
    <div class="container mt-5">
        
        <h2 class="mb-4">Ordered Products</h2>
        <div class="col-md-6">
                <p>Order ID: <strong>{{orderedProducts.[0].orderId}}</strong></p>   
            </div>
        <div class="row">
            <table class="table table-hover align-middle" id="table" style="background-color: white; ">
                <thead>
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            
            <th>Purchase Date</th>
            <th>Shipping Address</th>
            <th>Status</th>
            {{#if orderedProducts.0.reason}}
            <th>Reason</th>
            {{/if}}
        </tr>
    </thead>
                <tbody class="table-border-bottom-0">
                    {{#each orderedProducts}}
                    <tr>
                        <td>
                            <img style="border-radius: 0; width: 200px; height: 200px;" src="{{image}}" alt="Product Image">
                        </td>
                        <td class="my-auto"> <strong>{{productName}}</strong></td>
                        <td>Q: {{quantity}}</td>
                        
                        <td>{{price}}/-</td>
                        <td>{{purchaseDate}}</td>
                        
                        <td>
                          {{shippingAddress.fname}} {{shippingAddress.lname}}<br>
                          {{shippingAddress.locality}}, {{shippingAddress.city}}<br>
                          Phone: {{shippingAddress.phone}},<br> 
                          Alt Phone: {{shippingAddress.altphone}}<br>
                          Pincode: {{shippingAddress.pincode}}, <br>
                          Landmark: {{shippingAddress.landmark}}
                        </td>
                        <td>{{status}}</td>
                        {{#if reason}}
                        <td>{{reason}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>
