<section>
    <div class="container mt-5">
  <h2 class="mb-4">Ordered Products</h2>
  
  <div class="row">
    <table class="table" id="table" style="background-color: white;">
                   
                    <tbody class="table-border-bottom-0">
                      {{#each orderedProducts}}
                      <tr class="d-flex align-items-center justify-content-around">
                        <td>
                              <img style="border-radius: 0; width: 200px; height: 200px;" src="{{image}}" alt="Product Image">
                        </td>
                        <td class="my-auto"> <strong>{{productName}}</strong></td>
                        <td>Q: {{quantity}}</td>
                        
                        <td>{{this.price}}/-</td>
                        <td>{{purchaseDate}}</td>
                        <td>{{status}}</td>
                        <td><button>Return</button></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
   
  </div>

</div>
</section>