
		<section>
			<!-- Start Sub Header Section -->
			<div class="subheader">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="list-unstyled">
									{{#each categories}}
									<li><a href="#" style="text-decoration: none; font-weight: bold; font-size: 15PX;">{{this.name}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<form action="/login" method="GET">
								<div class="intro-excerpt">
									<h1>Modern Interior <span class="d-block">Design Studio</span></h1>
									<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								</div>
								<p><button type="submit" class="btn btn-secondary me-2">Login Now</button></p>
							</form>

						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">New Arrivals!</h2>
						<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
						<p><a href="/logout" type="submit" class="btn">Logout</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="images/product-1.png" class="img-fluid product-thumbnail">
							<h3 class="product-title">Nordic Chair</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

				</div>
			</div>
		</div>
		<!-- Start Product Section -->

		<!-- Start Dining catagory Section -->
		<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">Recent Products</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="#" class="more">View All Products</a>
				</div>
			</div>

			<div class="row">
				{{#each products}}
				<!-- Start Column 1 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<div class="product-item">
						<img src="/adminAssets/uploads/{{this.images.[0]}}" class=img-fluid product-thumbnail">
						<h3 class="product-title">{{this.name}}</h3>
						<strong class="product-price"> From ${{this.price}}</strong>
					</div>
				</div> 
				<!-- End Column 1 -->
				{{/each}}
			</div>
		</div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">Recent Products</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="#" class="more">View All Products</a>
				</div>
			</div>

			<div class="row">
				{{#each products}}
				<!-- Start Column 1 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<div class="product-item">
						<img src="/adminAssets/uploads/{{this.images.[0]}}" class=img-fluid product-thumbnail">
						<h3 class="product-title">{{this.name}}</h3>
						<strong class="product-price"> From ${{this.price}}</strong>
					</div>
				</div> 
				<!-- End Column 1 -->
				{{/each}}
			</div>
		</div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">Recent Products</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="#" class="more">View All Products</a>
				</div>
			</div>

			<div class="row">
				{{#each products}}
				<!-- Start Column 1 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<div class="product-item">
						<img src="/adminAssets/uploads/{{this.images.[0]}}" class=img-fluid product-thumbnail">
						<h3 class="product-title">{{this.name}}</h3>
						<strong class="product-price"> From ${{this.price}}</strong>
					</div>
				</div> 
				<!-- End Column 1 -->
				{{/each}}
			</div>
		</div>
        </div>
		<!-- Start Dining catagory Section -->

		</section>