
		<section>
			<!-- Start Sub Header Section -->
			<div class="subheader">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="list-unstyled">
									{{#each categories}}
									<li><a href="shop?category={{this.name}}" style="text-decoration: none; font-weight: bold; font-size: 15PX;">{{this.name}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
									<h1>Find jewellery <span class="d-block">inspiration for all your looks</span></h1>
									<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
								</div>
							
						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">New Arrivals!</h2>
						<p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
						
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					{{#each newproducts}}
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						
						<a class="product-item" href="/{{this._id}}">
							<img src="{{this.images.[0]}}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{this.name}}</h3>
							<strong class="product-price">Only {{this.price}}/-</strong>
						</a>
					</div> 
					{{/each}}
					<!-- End Column 2 -->

				</div>
			</div>
		</div>
		<!-- Start Product Section -->

		<!-- Start Dining catagory Section -->
		
		
		<div class="untree_co-section product-section before-footer-section">
		<div class="container">
			{{#each products}}
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">{{this.category}}</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="shop?category={{this.name}}" class="more">View All Products</a>
				</div>
			</div>

			<div class="row">
				<!-- Start Column 1 -->
				{{#each this.products}}
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<a href="{{this._id}}" class="product-link">
					<div class="product-item">
						<img src="{{this.images.[0]}}" class="img-fluid product-thumbnail">
						<h3 class="product-title">{{this.name}}</h3>
						<strong class="product-price"> Only {{this.price}}/-</strong>
					</div>
					</a>
				</div> 
				{{/each}}
				<!-- End Column 1 -->
				
			</div>
	    {{/each}}
		</div>
		
		</div>
		
        </div>
		
		<!-- Start Dining catagory Section -->

		</section>