<section>
    <hr class="my-5" />
    <h5 class="card-header m-5"><strong>My Orders</strong></h5>
              <!-- Hoverable Table rows -->
              <div class="card md-8 m-5">
        
                <div class="table-responsive text-nowrap">
                  
                  {{#if orders}}
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>OrderId</th>
                        <th>Total Price</th>
                        <th>Payment Methode</th>
                        <th>Status</th>
                        <th>OrderDate</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      {{#each orders}}
                      <tr>
                        <td> <strong>{{this.orderId}}</strong></td>
                        <td>{{this.price}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="cancelOrder/{{this.orderId}}"
                                ><i class="bx bx-edit-alt me-1"></i> Cancel</a
                              >
                              
                              <a class="dropdown-item" href="viewOrders/{{this.orderId}}"  onclick="return confirm('Do you want to delete {{this.name}}?')"
                                ><i class="bx bx-trash me-1"></i> View</a
                              >
                            </div>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                  {{else}}
                  <h5 class="ml-5">No Orders Yet!</h5>
                  {{/if}}
                </div>
              </div>
              <!--/ Hoverable Table rows -->

              <hr class="my-5" />

</section>