
<section>
    <div class="container">
  <div class="row m-5 p-3">
    <div class="col-md-3">
      <!-- Left Side Box -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Menu</h5>
          <ul class="list-group">
            <li class="list-group-item"><a href="address">My Address</a></li>
            <li class="list-group-item"><a href="orders">My Orders</a></li>
            <li class="list-group-item"><a href="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
  <!-- Right Side Box -->
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          {{#if user}}
            <address>
              <p class="text-dark"><strong>User Address</strong></p>
              <h6>{{user.username}}</h6>
              {{user.email}}<br>
              Phone: {{user.phone}}<br>
              <a href="editUserDetails" class="text-decoration-none text-primary"> Edit</a>
            </address>
          {{/if}}
        </div>
      </div>
      
       <h5 class="card-header m-5"><strong>My Orders</strong></h5>
              <!-- Hoverable Table rows -->
              <div class="card md-8 m-5">
    <div class="table-responsive text-nowrap m-3">
        {{#if orders}}
            {{#each orders}}
                <div class="card mb-3 d-flex">
                    <div class="card-body d-flex justify-content-between">
                        <h5 class="card-title">{{this.orderId}}</h5>
                        <p class="card-text">{{this.price}} INR</p>
                        <p class="card-text">{{this.paymentMethod}}</p>
                        <p class="card-text">{{this.status}}</p>
                        <p class="card-text">Order Date:{{this.createdAt}}</p>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                        {{#if (eq this.status 'pending')}}
                            <a class="dropdown-item" href="cancelOrder/{{this.orderId}}">
                                <i class="bx bx-edit-alt me-1"></i> Cancel
                            </a>
                        {{else if (eq this.status 'Shipped')}}
                            <a class="dropdown-item" href="cancelOrder/{{this.orderId}}">
                                <i class="bx bx-edit-alt me-1"></i> Cancel
                            </a>
                        {{else if (eq this.status 'Delivered')}}
                            <a class="dropdown-item" href="returnOrder/{{this.orderId}}">
                                <i class="bx bx-trash me-1"></i> Return
                            </a>
                        {{/if}}
                        <a class="dropdown-item" href="myOrders/{{this.orderId}}">
                            <i class="bx bx-info-circle me-1"></i> View
                        </a>
                    </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h5 class="ml-5">No Orders Yet!</h5>
        {{/if}}
    </div>
</div>


      <!-- Button to add new address -->
    </div>
  </div>
</div>

  </div>
</div>
</section>
