<section>
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Product Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-lg-6">
                <div class="img-container">
                    <img class="product-image" id="mainImage" src="{{this.images.[0]}}" alt="Product Image">
                </div>

                <div class="thumbnail-container">
                    {{#each this.images}}
                    <img class="thumbnail" src="{{this}}" alt="Thumbnail Image">
                    {{/each}}
                </div>
                <div class="button-container">
                    <a href=""><button class="add-to-cart" onclick="addToCart(event, '{{this._id}}')">Add to Cart</button></a>
                    <a href=""><button class="btn-warning" onclick="addToWishList(event, '{{this._id}}')">Add to whishlist</button></a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product-details">
                    <h2>{{this.name}}</h2>
                    <p class="product-description">{{this.description}}</p>
                    {{#if this.offerPrice}}
            <strong class="product-price">
                 Only <del>{{this.price}} </del> {{this.offerPrice}}/-
            </strong>
            {{else}}
            <p class="product-price">Price: {{this.price}}/- Only</p>
            {{/if}}
                    <div class="coupon-offers mt-3">
                        <h5>Available Offeres <small>(Price inclussive of offer)</small></h5>
                        <ul>
                            <li>Coupon 1: 10% off</li>
                            <li>Coupon 2: Free shipping</li>
                            <!-- Add more offers if needed -->
                        </ul>
                    </div>
                    {{#if coupens}}
                    <div class="coupon-offers mt-3">
                        <h5>Available Coupons</h5>
                        <ul>
                            {{#each coupens}}
                            
                                    {{#if (eq this.type 'flatDiscount')}}
                                        {{this.discount}}% off on Rs.{{this.minimumPrice}} purchase (Maximum Redeemable: {{this.maxRedeem}})
                                    {{else }}
                                        Flat Rs. {{this.discount}} off on {{this.minimumPrice}} purchase
                                    {{/if}}
                            
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function addToCart(event, productId) {
    event.preventDefault();

    // Show success message
    successMessage();

    // Make an asynchronous request to add the product to the cart
    fetch(`/add-to-cart?proId=${productId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to add product to cart');
            }
            // Product added to cart successfully
            // Optionally, you can handle any additional actions here
        })
        .catch(error => {
            console.error(error);
            // Handle error if needed
        });
}

function successMessage() {
    Swal.fire({
        text: 'Product successfully added to cart',
        icon: 'success',
        confirmButtonText: 'OK',
        customClass: {
            title: 'text-success',
            popup: 'swal2-popup-custom',
            confirmButton: 'btn btn-success'
        },
        showCancelButton: false,
        showCloseButton: true,
        showLoaderOnConfirm: false,
        timer: 3000 
    });
}

    </script>
    <script>
        function addToWishList(event, productId) {
    event.preventDefault();


    // Make an asynchronous request to add the product to the cart
    fetch(`/add-to-whishlist?proId=${productId}`)
        .then(response => {
            if (!response.ok) {
                Swal.fire({
    text: 'Product exists in the cart',
    icon: 'error', // Change to error icon to indicate failure
    confirmButtonText: 'OK',
    customClass: {
        title: 'text-danger',
        popup: 'swal2-popup-custom',
        confirmButton: 'btn btn-danger'
    },
    showCancelButton: false,
    showCloseButton: true,
    showLoaderOnConfirm: false,
    timer: 3000 
});

                throw new Error('Failed to add product to cart');
            }else{
                successMessage();
            }
        })
        .catch(error => {
            console.error(error);
            // Handle error if needed
        });
}

function successMessage() {
    Swal.fire({
        text: 'Product successfully added to wishList',
        icon: 'success',
        confirmButtonText: 'OK',
        customClass: {
            title: 'text-success',
            popup: 'swal2-popup-custom',
            confirmButton: 'btn btn-success'
        },
        showCancelButton: false,
        showCloseButton: true,
        showLoaderOnConfirm: false,
        timer: 3000 
    });
}

    </script>
</section>

    <script src="/js/magicZoom.js"></script>

