
<section>
    <!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Product Details</span></h1>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
       <body>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-lg-6">
                <div id="img-container">
                    <img class="product-image" src="/adminAssets/uploads/{{this.images.[0]}}" alt="Product Image">
                </div>
                
        
                <div class="button-container">
                    <a href="/addtocart/{{this._id}}"><button class="add-to-cart">Add to Cart</button></a>
                    
                    <a href=""><button class="buy-now">Buy Now</button></a>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="product-details">
                    <h2>{{this.name}}</h2>
                    
                    <p class="product-description">
                        {{this.description}}
                    </p>
                    
                    <p class="product-price">Price: {{this.price}}</p>
                    
                    <div class="coupon-offers">
                        <h4>Available Coupons</h4>
                        <ul>
                            <li>Coupen 1: 10% off</li>
                            <li>Coupen 2: Free shipping</li>
                            <!-- Add more offers if needed -->
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
<script>

var options = {
    width: 500,
    zoomWidth: 300,
    offset: {vertical: 100, horizontal: 300},
    scale:.6
    
};


new ImageZoom(document.getElementById("img-container"), options);

</script>
</body>

</section>