<section>
	<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>{{name}}</span></h1>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
            <div class="untree_co-section product-section before-footer-section">
                <div class="container">
                    <div class="row">
                        {{#each products}}
                        <!-- Start Column 1 -->
                        <div class="col-12 col-md-4 col-lg-3 mb-5">
                            <div class="product-item">
                                <a href="/{{this._id}}">
                                    <img src="{{this.images.[0]}}" class="img-fluid product-thumbnail">
                                    <h3 class="product-title">{{this.name}}</h3>
                                    <strong class="product-price">${{this.price}}</strong>
                                    <div class="product-actions">
                                        <button class="btn btn-primary btn-sm add-to-cart">Cart</button>
                                        <button class="btn btn-secondary btn-sm add-to-watchlist">Buy Now</button>
                                    </div>
                                </a>
                            </div>
                        </div> 
                        <!-- End Column 1 -->
                        {{/each}}
                    </div>
                </div>
            </div>
            
            
</section>
