
<section>
	<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>{{name}}</span></h1>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
        <div>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-lg-5 d-flex justify-content-around">
                <!-- Sort Dropdown -->
                <div class="dropdown">
                    <button class="btn-warning dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 400px;">
                        Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sortDropdown">
                        <a class="dropdown-item " style="width: 400px; href="shop?price=asc">Price low - high</a>
                        <a class="dropdown-item" style="width: 400px; href="shop?price=asc">Price high - lows</a>
                        <!-- Add more sorting options as needed -->
                    </div>
                </div>

                <!-- Filter Dropdown -->
                <div class="dropdown ml-3">
                    <button class="btn-warning dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 400px; ">
                        Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterDropdown">
                        <a class="dropdown-item"  style="width: 400px; href="#">Option A</a>
                        <a class="dropdown-item"  style="width: 400px; href="#">Option B</a>
                        <a class="dropdown-item"  style="width: 400px; href="#">Option C</a>
                        <!-- Add more filter options as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
        
        
            <div class="untree_co-section product-section before-footer-section">
                <div class="container">
                    
                    <div class="row">
                        {{#each products}}
                        <!-- Start Column 1 -->
                        <div class="col-12 col-md-4 col-lg-3 mb-5">
                            <div class="product-item">
                                <a href="/{{this._id}}">
                                    <img src="{{this.images.[0]}}" class="img-fluid product-thumbnail">
                                    <h3 class="product-title">{{this.name}}</h3>
                                    <strong class="product-price">${{this.price}}</strong>
                                    <div class="product-actions">
                                        <button class="btn btn-primary btn-sm add-to-cart">Cart</button>
                                        <button class="btn btn-secondary btn-sm add-to-watchlist">Buy Now</button>
                                    </div>
                                </a>
                            </div>
                        </div> 
                        <!-- End Column 1 -->
                        {{/each}}
                    </div>
                </div>
                <div>
                    {{#if pages}}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Column 1 -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    
                                    <li class="page-item d-flex">
                                        <a class="page-link" href="shop" >
                                            <div class="page-box"> < </div>
                                            
                                        </a>
                                        {{#each pages}}
                                        <a class="page-link" href="shop?page={{this}}" data-page="{{this}}">
                                            
                                            
                                            <div class="page-box">{{this}}</div>
                                            
                                        </a>
                                        {{/each}}
                                        <a class="page-link" href="shop" >
                                            <div class="page-box"> > </div>
                                            
                                        </a>
                                        
                                    </li>
                                    
                                   
                                </ul>
                            </nav>
                            <!-- End Column 1 -->
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
            
            <!-- Pagination template -->         
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
