<section>
    <div class="untree_co-section">
      <div class="container">

        <div class="block">
          <div class="row justify-content-center">


            <div class="col-md-8 col-lg-8 pb-4">
                {{#if address}}
              <form action="updateAddress/{{index}}" method="post">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="fname" required>First Name</label>
                      <input type="text" class="form-control" id="fname" name="fname" value="{{address.fname}}">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="lname" required>Last Name</label>
                      <input type="text" class="form-control" id="lname" name="lname"  value="{{address.lname}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="pincode" required>Pincode</label>
                      <input type="text" class="form-control" id="pincode" name="pincode"  value="{{address.pincode}}">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="locality">Locality</label>
                      <input type="text" class="form-control" id="locality" name="locality" value="{{address.locality}}">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-5">
                  <label class="text-black" for="message" required>Address</label>
                  <textarea name="address" class="form-control" id="message" cols="30" rows="5" >{{address.address}}</textarea>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="city" required>City</label>
                      <input type="text" class="form-control" id="city" name="city" value="{{address.city}}" >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="state">State</label>
                      <input type="text" class="form-control" id="state" name="state" value="{{address.state}}" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="phone" required>Phone</label>
                      <input type="text" class="form-control" id="phone" name="phone" value="{{address.phone}}" >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="altphone">Alternate Phone</label>
                      <input type="text" class="form-control" id="altphone" name="altphone" value="{{address.altphone}}" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="text-black" for="landmark">Landmark</label>
                        <input type="text" class="form-control" id="landmark" name="landmark" value="{{address.landmark}}" >
                    </div>
                    </div>
                    <div class="col-6">
                    <div class="form-group">
                        <label class="text-black" for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{address.country}}" >
                    </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary-hover-outline mt-3">Update Address</button>
                </form>
                {{/if}}

            </div>

          </div>

        </div>

      </div>


    </div>
  </div>

  <!-- End Contact Form -->
</section>